# Arquivo consolidado de requirements
# Gerado automaticamente

diffusers==0.24.0
flake8
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-auth==2.25.2
google-cloud-aiplatform==1.38.1
google-cloud-storage==2.10.0
google-cloud-texttospeech==2.21.0
google-generativeai==0.3.2
json5==0.9.14
moviepy==1.0.3
numpy==1.25.2
opencv-python==4.8.1.78
pillow==10.1.0
pydub==0.25.1
pytest
python-dotenv==1.0.0
requests==2.31.0
scipy==1.11.4
torch==2.1.1
tqdm==4.66.1
transformers==4.36.0
